@charset "UTF-8";
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 114px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  z-index: 5;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__button {
  position: relative;
  z-index: 5;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 252px;
          flex: 0 0 252px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* -------------------------------- */
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0px 40px 0px 0px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  margin: 0px 40px 0px 0px;
  letter-spacing: 1px;
}

.menu__link {
  font-family: Raleway;
  text-transform: uppercase;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 1.2;
  color: #000;
  letter-spacing: 1px;
}

.menu__link:hover {
  text-decoration: underline;
}

/* ------ @MEDIA - ADDAPTING HEADER CONTENT ON TABLET ------ */
@media (max-width: 991.98px) {
  .header__container {
    min-height: 80px;
  }
  .header__button {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 170px;
            flex: 0 0 170px;
  }
  .menu__item {
    margin: 0 30px 0 0;
  }
}

@media (max-width: 767.98px) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.96);
    padding: 90px 15px 30px 15px;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }
  .header:target .menu__body {
    left: 0;
  }
  .header:target .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
  }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__item {
    margin: 0 0 25px 0;
  }
  .menu__item:last-child {
    margin-bottom: 0;
  }
  .menu__link {
    color: #ec5862;
    font-size: 20px;
  }
}

@media (max-width: 479.98px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
    overflow: hidden;
  }
}

/* ----------------------------------- */
.button {
  display: inline-block;
  font-family: Raleway;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 1px;
  color: #FCFDFE;
  padding: 14px 30px;
  border-radius: 5px;
  background-color: #EC5863;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.button:hover {
  background-color: #f37a82;
}

.button__blue {
  background-color: #4285F4;
}

.button__blue:hover {
  background-color: #70a3f7;
}

/* -------- BURGER MENU ------------- */
.close-icon-menu,
.icon-menu {
  display: none;
}

@media (max-width: 767.98px) {
  .icon-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 18px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0px 0px 0px 20px;
  }
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    background-color: #000;
    height: 2px;
  }
  .icon-menu span {
    height: 2px;
    background-color: #000;
  }
  .close-icon-menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 30px;
    position: relative;
    margin: 0 0 0 20px;
  }
  .close-icon-menu::before,
  .close-icon-menu::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    background-color: #ec5862;
    height: 2px;
  }
  .close-icon-menu::before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .close-icon-menu::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header:target .icon-menu {
    display: none;
  }
  .header:target .close-icon-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/* ==================================== */
.block-text__title {
  font-weight: 700;
  font-size: 44px;
  line-height: 126%;
  color: #000;
}

.block-text__title:not(:last-child) {
  margin: 0px 0px 12px 0px;
}

.block-text__title span {
  color: #ec5863;
}

.block-text__title_blue span {
  color: #4285f4;
}

.block-text__text {
  line-height: 138.5%;
  width: 375px;
  height: 36px;
  left: 70px;
  top: 360px;
  font-size: 12px;
  letter-spacing: 0.08em;
  color: #616161;
}

.block-text__text:not(:last-child) {
  margin: 0px 0px 24px 0px;
}

/* ==================================== */
.get-started {
  background-color: #fafbfd;
  padding: 150px 0px 50px 0px;
}

.get-started__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.get-started__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
  padding: 0px 0px 0px 20px;
}

.get-started__block-text {
  min-width: 410px;
}

.get-started__video {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding: 60px 0px 0px 20px;
}

.video-get-started {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-get-started__icon {
  -webkit-box-flex: 0px;
      -ms-flex: 0px 0px 44px;
          flex: 0px 0px 44px;
}

.video-get-started__body {
  padding: 0px 0px 0px 12px;
}

.video-get-started__title {
  color: #b0b0b0;
  font-size: 13px;
  line-height: 126%;
  letter-spacing: 1.5px;
}

.video-get-started__title:not(:last-child) {
  margin: 0px 0px 5px 0px;
}

.video-get-started__text {
  text-transform: uppercase;
  font-size: 9px;
  color: #000;
  line-height: 126%;
  letter-spacing: 2px;
}

.get-started__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 52%;
          flex: 0 1 52%;
}

.get-started__image img {
  max-width: 100%;
}

/* Обнуление */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  bottom: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

body {
  font-family: Rubik;
  font-size: 12px;
  color: #616161;
}

/* ---------------- */
.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/* ---------------- */
/* Для построения размеров контейнера сайта ввожу селектор атрибута 
Это означает, что ко всем объектам с дополнением __container будут применены следующие условия*/
[class*="__container"] {
  max-width: 1087px;
  margin: 0px auto;
  padding: 0px 15px;
}

/* PC */
@media (max-width: 1087px) {
  [class*="__container"] {
    max-width: 970px;
  }
}

/* TABLET */
@media (max-width: 991.98px) {
  [class*="__container"] {
    max-width: 750px;
  }
}

/* MOBILE */
@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
  }
}

/* MOBILE SMALL */
