@charset "UTF-8";
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 114px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 252px;
          flex: 0 0 252px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* ADDAPTING HEADER CONTENT ON TABLET */
@media (max-width: 991.98px) {
  .header__button {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 170px;
            flex: 0 0 170px;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0px 40px 0px 0px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  margin: 0 40px 0 0;
  letter-spacing: 1px;
}

/* ADDAPTING HEADER CONTENT ON TABLET */
@media (max-width: 991.98px) {
  .menu__item {
    margin: 0 30px 0 0;
  }
}

.menu__link {
  font-family: Raleway;
  text-transform: uppercase;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 1px;
  color: #000000;
}

.button {
  display: inline-block;
  font-family: Raleway;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 1px;
  color: #FCFDFE;
  padding: 14px 30px;
  border-radius: 5px;
  background-color: #EC5863;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.button:hover {
  background-color: #f37a82;
}

.button__blue {
  background-color: #4285F4;
}

.button__blue:hover {
  background-color: #70a3f7;
}

/* Обнуление */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  bottom: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

body {
  font-family: Rubik;
  font-size: 12px;
  color: #616161;
}

/* ---------------- */
.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/* ---------------- */
/* Для построения размеров контейнера сайта ввожу селектор атрибута 
Это означает, что ко всем объектам с дополнением __container будут применены следующие условия*/
[class*="__container"] {
  max-width: 1087px;
  margin: 0px auto;
  padding: 0px 15px;
}

/* PC */
@media (max-width: 1087px) {
  [class*="__container"] {
    max-width: 970px;
  }
}

/* TABLET */
@media (max-width: 991.98px) {
  [class*="__container"] {
    max-width: 750px;
  }
}

/* MOBILE */
@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
  }
}
