/* ================== BO TEXT =================== */

.block-text {}

.block-text__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 126%;
    color: #000;
    &:not(:last-child) {
        margin: 0px 0px 12px 0px;
    }
}

.block-text__title span {
    color: #EC5863;
}

.block-text__title_blue span {
    color: #4285F4;
}

.block-text__text {
    line-height: 138.5%;
    width: 375px;
    height: 36px;
    left: 70px;
    top: 360px;
    font-size: 12px;
    letter-spacing: 0.08em;
    color: #616161;
}

.block-text__text:not(:last-child) {
    margin: 0 0 24px 0;
}

.block-text__button {}


/* ================== EO TEXT =================== */

.get-started {
    background-color: #fafbfb;
}

.get-started__container {
    padding: 150px 15px 50px 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.get-started__container::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    right: 267px;
    top: 0;
    transform: translate(100%, 0px);
    border-radius: 30px 0px 0px 30px;
    background-color: #EC5863;
}

@media (max-width: 991.98px) {
    .get-started__container::before {
        right: 185px;
        border-radius: 20px 0px 0px 20px;
    }
}

@media (max-width: 767.98px) {
    .get-started__container::before {
        display: none;
    }
}

.get-started__content {
    flex: 0 1 48%;
    padding: 0px 0px 0px 20px;
}

.get-started__block-text {
    max-width: 410px;
}

.get-started__video {
    flex: 1 1 100%;
    padding: 60px 0px 0px 20px;
}

.get-started__image {
    flex: 0 1 52%;
    position: relative;
    z-index: 2;
}

.get-started__image img {
    max-width: 100%;
}

.video-get-started {
    display: inline-flex;
    align-items: center;
}

.video-get-started__icon {
    flex: 0 0 44px;
}

.video-get-started__body {
    padding: 0px 0px 0px 12px;
}

.video-get-started__title {
    color: #b0b0b0;
    font-size: 13px;
    line-height: 126%;
    letter-spacing: 1.5px;
}

.video-get-started__title:not(:last-child) {
    margin: 0px 0px 5px 0px;
}

.video-get-started__text {
    text-transform: uppercase;
    font-size: 9px;
    line-height: 126%;
    letter-spacing: 2px;
    color: #000;
}