.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header__container {
    display: flex;
    min-height: 114px;
    align-items: center;
}

.header__logo {
    position: relative;
    z-index: 5;
}

.header__menu {
    flex: 1 1 auto;
}

.header__button {
    position: relative;
    z-index: 5;
    flex: 0 0 252px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


/* -------------------------------- */

.menu {
    display: flex;
    justify-content: flex-end;
    padding: 0px 40px 0px 0px;
}

.menu__list {
    display: flex;
    // gap: 40px;
    // Использовать 'gap' лишь на свой страх и риск, потому что можно нарваться например на старый Safari работающий под Macintosh, и эти отступы могут не сработать. Поэтому я заменяю 'gap' в блоке menu__list, на margin в блоке menu__item (см. ниже)
}

.menu__item {
    margin: 0 40px 0 0;
    letter-spacing: 1px;
}

.menu__link {
    font-family: Raleway;
    text-transform: uppercase;
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 1.2;
    color: #000;
    letter-spacing: 1px;
}

.menu__link:hover {
    text-decoration: underline;
}


/* ------ @MEDIA - ADDAPTING HEADER CONTENT ON TABLET ------ */

@media (max-width: 991.98px) {
    .header__container {
        min-height: 80px;
    }
    .header__button {
        flex: 0 0 170px;
    }
    .menu__item {
        margin: 0 30px 0 0;
    }
}

@media (max-width:767.98px) {
    .menu__body {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 90px 15px 30px 15px;
        transition: left 0.3s ease 0s;
    }
    .header:target .menu__body {
        left: 0;
    }
    .header:target .menu__body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        height: 80px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.9);
    }
    .menu__list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .menu__item {
        margin: 0 0 25px 0;
    }
    .menu__item:last-child {
        margin-bottom: 0;
    }
    .menu__link {
        color: #ec5862;
        font-size: 20px;
    }
}

@media (max-width:479.98px) {
    .header__logo {
        flex: 0 0 40px;
        overflow: hidden;
    }
}


/* ----------------------------------- */

// Так получается меньше строк кода, если строить кнопку не через высоту объекта, а через отступы.
.button {
    display: inline-block;
    font-family: Raleway;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: 1px;
    color: #FCFDFE;
    padding: 14px 30px;
    border-radius: 5px;
    background-color: #EC5863;
    transition: background-color 0.3s ease 0s;
    // @media (any-hover: hover) {
    //      :hover {
    //         background-color: #f37a82;
    //     }
    //     transition: all 0.3s ease 0s;
    // }
}

.button:hover {
    background-color: #f37a82;
}

.button__blue {
    background-color: #4285F4;
}

.button__blue:hover {
    background-color: #70a3f7;
}


/* -------- BURGER MENU ------------- */

.close-icon-menu,
.icon-menu {
    display: none; // для PC скрываю бургер
}

@media (max-width:767.98px) {
    .icon-menu {
        display: flex;
        position: relative;
        flex: 0 0 30px;
        height: 18px;
        flex-direction: column;
        justify-content: space-between;
        margin: 0px 0px 0px 20px;
    }
    .icon-menu::before,
    .icon-menu::after {
        content: "";
        background-color: #000;
        height: 2px;
    }
    .icon-menu span {
        height: 2px;
        background-color: #000;
    }
    .close-icon-menu {
        flex: 0 0 30px;
        height: 30px;
        position: relative;
        margin: 0 0 0 20px;
    }
    .close-icon-menu::before,
    .close-icon-menu::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        background-color: #ec5862;
        height: 2px;
    }
    .close-icon-menu::before {
        transform: rotate(-45deg);
    }
    .close-icon-menu::after {
        transform: rotate(45deg);
    }
    .header:target .icon-menu {
        display: none;
    }
    .header:target .close-icon-menu {
        display: flex;
    }
}