.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header__container {
    display: flex;
    min-height: 114px;
    align-items: center;
}


/* .header__logo {} */

.header__menu {
    flex: 1 1 auto;
}

.header__button {
    flex: 0 0 252px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


/* -------------------------------- */

.menu {
    display: flex;
    justify-content: flex-end;
    padding: 0px 40px 0px 0px;
}

.menu__list {
    display: flex;
    // gap: 40px;
    // Использовать 'gap' лишь на свой страх и риск, потому что можно нарваться например на старый Safari работающий под Macintosh, и эти отступы могут не сработать. Поэтому я заменяю 'gap' в блоке menu__list, на margin в блоке menu__item (см. ниже)
}

.menu__item {
    margin: 0 40px 0 0;
    letter-spacing: 1px;
}

.menu__link {
    font-family: Raleway;
    text-transform: uppercase;
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: 1px;
    color: #000000;
}


/* ------ ADDAPTING HEADER CONTENT ON TABLET ------ */

@media (max-width: 991.98px) {
    .header__container {
        min-height: 80px;
    }
    .header__button {
        flex: 0 0 170px;
    }
    .menu__item {
        margin: 0 30px 0 0;
    }
}


/* -------- BURGER MENU ------------- */

// Так получается меньше строк кода, если строить кнопку не через высоту объекта, а через отступы.
.button {
    display: inline-block;
    font-family: Raleway;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: 1px;
    color: #FCFDFE;
    padding: 14px 30px;
    border-radius: 5px;
    background-color: #EC5863;
    transition: background-color 0.3s ease 0s;
    // @media (any-hover: hover) {
    //      :hover {
    //         background-color: #f37a82;
    //     }
    //     transition: all 0.3s ease 0s;
    // }
}

.button:hover {
    background-color: #f37a82;
}

.button__blue {
    background-color: #4285F4;
}

.button__blue:hover {
    background-color: #70a3f7;
}


/* -------- BURGER MENU ------------- */

.icon-menu {
    position: relative;
    flex: 0 0 30px;
    height: 18px;
    display: flex;
    flex-direction: column;
    justify-self: space-between;
}

.icon-menu::before,
.icon-menu::after {
    content: "";
    background-color: #000;
    height: 2px;
}

.icon-menu span {
    height: 2px;
    background-color: #000;
}